{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpaceHub</title>
  <!-- Estilos -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!-- Cabeçalho (menu) -->
  {% include 'header.html' %}

  <main class="container">
    {% block content %}
      <!-- Conteúdo principal aqui -->
    {% endblock %}
  </main>
  <!-- Rodapé -->
  {% include 'footer.html' %}
  
  <!-- Scripts -->
  <script src="{% static 'js/script.js' %}"></script>

</body>
</html>