{% extends 'base.html' %}
{% block content %}
  {% load static %}
    <div class="banner quem-banner" style="height: 450px">
      <h1 style="margin-top: 30px">Quem Somos</h1>
      <p>Saiba um pouco sobre a SpaceHub</p>
    </div>
    <div class="area-cont">
      <div>
        <img src="" alt="" />
      </div>
    </div>
    <div class="area-cont" style="padding: 0 60px">
      <div class="info cont1">
        <h2 class="titulo-principal">
          Quem Somos – SpaceHub
        </h2>
        <p>
          A SpaceHub é uma empresa fictícia criada como parte da disciplina de
          Desenvolvimento de Sistemas Web na UFRA. Nosso objetivo é simular o
          funcionamento de uma loja especializada no aluguel de salas
          corporativas compartilhadas, oferecendo ambientes modernos e
          colaborativos para empresas, profissionais autônomos e startups. Mais
          do que um exercício acadêmico, a SpaceHub representa a união entre
          prática e criatividade, trazendo conceitos de tecnologia, design e
          gestão aplicados a um projeto realista.
        </p>
        <h2 class="titulo-principal">
          Nossa Equipe
        </h2>
        <p>
          O projeto foi desenvolvido por 7 alunos da disciplina, que se
          dividiram em diferentes funções para dar vida à SpaceHub. Cada
          integrante contribuiu com sua visão e dedicação, seja na parte
          técnica, na organização ou na criação de conteúdo. Essa diversidade de
          talentos reflete o espírito da SpaceHub: colaboração, inovação e
          aprendizado conjunto. A SpaceHub nasceu para ser um espaço de ideias.
          Mesmo sendo fictícia, ela simboliza o potencial de jovens
          desenvolvedores em transformar conceitos em soluções criativas e
          funcionais.
        </p>
      </div>
      <!-- ------------------------------------------------outra div-------------------- -->
      <div class="info-contato cont2">
        <img src="https://raw.githubusercontent.com/ingridslv/repositorio-imagens/main/assets/img/spacehub/space.png" style="margin-top: 20px; width: 90%; border-radius: 12px" alt=""/>
      </div>
    </div>
{% endblock %}